@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* --------------common ------------ */

.flex{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* ----------nav------------ */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 80px;
    background-color: #FFEFAE;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 900;
    cursor: pointer;
    color: #670000;
}
nav ul{
    gap: 50px;

}

nav ul li a{
    color: #710202;
}
.nav-r-btn{
    background-color: #710202;
    padding: 12px 25px;
    color: white;
    gap: 5px;
    
}
.nav-r-btn a{
    font-size: 13px;
    color:white;
}
.nav-r-btn span{
    font-size: 15px;
}
.nav-bar{
    display: none;
}


/* ------------------------------------------------ */


/* -------------------home----------------- */
.home{
    text-align: center;
    padding-inline: 30%;
    height: 90vh;
    background-color: #FFEFAE;
    color: #710202;

    overflow: hidden;

}
.h-name{
    font-size: 100px;
    margin-top: 130px;
    overflow: hidden;
}
.h-name h1{
    letter-spacing: 5px;
    cursor: none;

}
.h-item{
    text-align: right;
}
.h-item h1{
font-weight: 100;

}

.cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFf;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    mix-blend-mode: color;
    pointer-events: none;
    display: none;
}
.h-name:hover .cursor{
    transform: scale(6);
}

/* --------------------about--------------- */

.a-img{
    background-image: url(/img/Profile.jpeg);
    width: 30%;
    height: 400px;
    background-position: top;
    background-size: cover;

}
.a-con{
    width: 100%;
    justify-content: space-evenly;
}
.a-text{
    width: 30%;
}
.a-text h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: #710202;
    font-weight: 200;
}
.a-text p{
    font-size: 13px;
    margin-bottom: 30px;
}

.about{
    overflow: hidden;
    padding: 4rem 0rem;
}
/* ---------slider----------------- */

.slider{
    width: 80%;
    overflow: hidden;

}
.s-track{
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(100px * 32);
}
.slide{
    height: 100px;
    width: 100px;
    background-color: #710202;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s all;

}
.overflow{
    display: flex;
    overflow: hidden;
    cursor: wait;
}
.overflow:hover .s-track{
    animation-play-state: paused;
}
.slide:hover{
    transform: scale(1.1);
}
.slide img{
    width: 50px;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logo-slider{
    display: grid;
    place-items: center;
    overflow: hidden;
    padding-block: 3rem ;
    /* background-color: #FFEFAE; */
}


/* -----------portfolio------------- */



.port{
    padding: 30px 10%;
    background-color: #FFEFAE;
    overflow: hidden;
    
}
.box-img{
    width: 100%;
    height: 100%;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.proj{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    overflow: hidden;
}
.box{
    position: relative;
    overflow: hidden;
}
.box .p-after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0%;
    bottom: 0px;
    opacity: 0;
    background-image: linear-gradient(rgb(211, 195, 68),rgba(212, 215, 33, 0.819));
    transition: 0.5s all;

}
.box:hover .p-after{
    height: 100%;
    opacity: 1;
}
.p-after div h1:nth-child(2){
    text-decoration: line-through;
    font-weight: 200;
}
.p-after div{
    text-align: center;
}




/* -----------------------work-------- */

.work{
    position: relative;
    padding-inline: 10%;
    padding-block: 5rem;
    overflow: hidden;

}

.w-text h1{
    font-size: 100px;
    letter-spacing: 5px;
    color: #853023;
    /* color: #FFEFAE; */
}
.w-text h1:nth-child(1){
    padding-left: 30%;
}
.w-text h1:nth-child(2){
    padding-left: 20%;
}
.w-text h1:nth-child(3){
    padding-left: 30%;
}
.w-text p{
    text-align: right;
    font-size: 15px;
}



.w-con{
    position: absolute;
    top: 10%;
    right: 30%;
    padding: 30px;
    
}
.w-img{
    position: relative;
    width: 220px;
    height: 220px;
    display: grid;
    place-items: center;
}
.w-img img{
    position: absolute;
    background-color: #710202;
    border-radius: 50%;
    background-color: #FFEFAE;
    width: 200px;
    height: 200px;
    animation: rotate 5s infinite linear;
    transition: 1s all;

}
.w-con:hover .w-img img{
    height: 210px;
    width: 210px;
}


.w-arr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;

}
.w-arr span{
    transform: rotate(-45deg) scale(1);
    transition: 1s all;
    color: #670000;
}
.w-con:hover .w-arr span{
    transform: rotate(90deg) scale(1.5);

}   



@keyframes rotate{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(360deg);
    }
}

/* --------contact----------------- */

.h-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;


}

.contact {
    padding-inline: 15%;
    background-color: #670000;
    min-height: 100vh;
    padding-bottom: 30px;
    overflow: hidden;


}

.h-con h1 {
    color: white;
    width: 50%;
    font-size: 40px;
}

.h-con div a {
    padding: 12px 22px;
    color: #670000;
    background-color: #FFEFAE;
}

.c-inp1 {
    display: flex;
    justify-content: space-between;
    gap: 5px;

}

.c-inp1 .inp {
    width: 100%;

}

.c-inp1 .inp input {
    width: 100%;
    background-color: #670000;
    padding: 15px 10px;
    border: 1px solid #853023;
    margin-bottom: 5px;
    outline: none;
    color: #FFEFAE;

}

.c-inp1 .inp input::placeholder {
    color: #FFEFAE;
    opacity: 0.9;

}

.c-inp2 {
    width: 100%;
}

.c-inp2 textarea {
    width: 100%;
    background-color: #670000;
    padding: 15px 10px;
    border: 1px solid #853023;
    color: #FFEFAE;
    margin-bottom: 5px;
    outline: none;

}

.c-inp2 textarea::placeholder {
    color: #FFEFAE;
    opacity: 0.9;
}

.contact form {
    margin-top: 3rem;
}

.c-p {
    margin-top: 3rem;
    color: #FFEFAE;
    letter-spacing: 1px;
    /* font-size: 20px; */

}

.c-submit {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #FFEFAE;
    border: none;
    color: #670000;
}
.err{
    display: none;
}


/* ---------social----------- */
.social{
    display: flex;
    gap: 20px;
    padding: 20px 0px ;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.s-box{
    padding: 10px 15px;
    background-color: #710202;

}
.s-box{
    color: #FFEFAE;
}




@media only screen and (max-width:468px) {

    /* ---------nav ----------------- */
    nav{
        padding: 20px 30px;
    }
    .nav-bar{
        display: block;
    }
    nav ul{
        display: block !important;
        position: absolute;
        top: 77px;
        left: 0;
        background-color: #670000;
        width: 100%;
        height: 0px;
        padding: 0px 20px;
        transition: all 0.5s;
        overflow: hidden;

    }
    .close{
        display: none;
    }
    .close.h{
        display: block;
    }
    .open.h{
        display: none;
    }
    nav ul li{
        padding: 2px 5px;
    }

    .nav-r-btn{
        display: none;
    }

    nav ul li a{
        color: #FFEFAE;
        
    }

    nav ul.close{
        height: 9rem;
        padding: 10px 20px;

    }

    /* --------------home--------------- */

    .h-name{
        font-size:40px;
        text-align: start;
    }
    .home{
        padding-inline:10%;

    }
    .h-item h1{
        font-size: 20px;
    }

    /* -------------about----------- */

    .about{
        padding-inline: 10%;
    }
    .a-con{
        flex-direction: column;
    }
    .a-text{
        width: 90%;
    }
    .a-img{
        width: 100%;
    }




    /* ----------contact--------------- */
    .contact {
        padding-bottom: 30px;
        padding-inline: 5%;
    }

    .h-con {
        display: block;
    }

    .h-con h1 {
        width: auto;
        font-size: 35px;
        margin-bottom: 5rem;

    }

    .c-inp1 {
        flex-direction: column;
    }

    .c-inp1 input {
        width: 100%;
    }
    


    .w-text h1{
        font-size: 50px;
        padding: 0 !important;
    }
    .w-con{
        position: initial;
    }
    .social{
        width: 100%;
    }
   /* ---------portfolio------------------ */
   .proj{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}


    
}